<div class="col-sm-9 padding-right">
    
    <h3>Productores</h3>
    <select id="usuarios" class="selectFiltro"></select>

    <select id="tipoProd" class="selectFiltro">
        <option value="0">- Tipo Producto -</option>
        <option value="1">Fruta</option>
        <option value="2">Hortaliza</option>
    </select>

    <div id="map" style="height:400px; width:100%"></div>

    
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script>

    var userInfo = @Html.Raw(Json.Encode(ViewBag.lstUsr));


    var resultado =@Html.Raw(Json.Encode(ViewBag.resultado));

    var locations = [];

    $.each(userInfo, function(k,v){

        if(v.geoData != null){
            var geo = v.geoData.split('|');
            locations.push([ '<b>'+v.nombre +'</b><br /><a href="/Producto/Detalle?idProductor='+v.rut+'">Comprar</a>', Number(geo[0]), Number(geo[1]) ]);
        }

    });

    $(document).ready(function(){
        $("#usuarios").html('<option value="0">- Usuario -</option>');

        $.each(userInfo, function(k,v){
            $("#usuarios").append('<option value='+v.rut+'>'+v.nombre+'</option>');
        });

        $(".selectFiltro").change(function(){
            var usr = $( "#usuarios option:selected" ).val();
            var tipo = $( "#tipoProd option:selected" ).val();
            window.location.href = '/?idUsr='+usr+'&tipoProd='+tipo;
        });
    });

    function initMap() {
        var uluru = { lat: -33.4454986, lng: -70.6563166 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru,
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
    }


</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVi-tXgBUCUmbdt6RI-Rw__U9QCfP220&callback=initMap">
</script>
