Feria Desktop/Feria Desktop/obj/
Feria Desktop/Feria Desktop/bin/
Aplicacion Web/FrutosFrescosWebApp/FrutosFrescosWebApp/obj/
Aplicacion Web/AppWeb_FrutosFrescos/AppWeb_FrutosFrescos/bin/System.Web.WebPages.Razor.xml
