
@{
    ViewBag.Title = "Detalle";
}

<div class="col-sm-9 padding-right">
    <h2 class="title text-center">Detalle</h2>

    <table class="table" id="tabla-productos">
        <thead>
            <tr>

                <th width="30%">Nombre producto</th>
                <th width="20%">Stock</th>
                <th width="20%">Precio</th>
                <th width="20%">Pedido</th>
                <th width="30%">Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>





    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script>
        var lstProducto = @Html.Raw(Json.Encode(ViewBag.lstProductos));
        var carrito = @Html.Raw(Json.Encode(ViewBag.carrito));
        var idProductor = @Html.Raw(ViewBag.idProductor);

    $(document).ready(function () {
        cargaTabla();
    });

    function cargaTabla(){

        $("#tabla-productos tbody").html("");

        $.each(lstProducto.stock, function(k,v){            
            var fila = "<tr class='fila-producto' id-producto='"+ v.prId+"' id-stock='"+ v.id+"' precio='"+v.precios +"'><td>"+v.nomProd +"</td><td class='stock'>"+ v.kilos +"</td><td class='precio'>"+ v.precios +"</td><td><input type='text' class='text-cantidad' name='cantidad' /></td><td>  <a style='display:inline'><span class='btn-comprar btn btn-default'>Añadir al carrito</span></a></td></tr>";
            
            
            $("#tabla-productos tbody").append(fila);
        });

        $.each(carrito, function(k,v){       
            
            if(v.idProductor == idProductor){
                $(".fila-producto[id-producto='"+v.idProducto+"'] .text-cantidad").val(v.cantidad)
                    .attr("disabled", "disabled")
                    .parents("tr").find("td").last().append("<span id-detalle='"+v.idDetalle +"' class='btn btn-default btn-eliminar'>Eliminar</span>");
            }
        });

        $(".btn-comprar").on('click', function(){
            var fila = $(this).parents("tr");
            var cantidad = parseInt(fila.find("input").first().val());
            var precio = parseInt(fila.attr("precio"));
            var idProd = fila.attr("id-producto");
            var stockid = fila.attr("id-stock")

            var costo = cantidad * precio;
            var data = { idProductor: idProductor, cantidad: cantidad, idProducto: idProd, stockid: stockid, costo: costo };

            $.post( "/Producto/Detalle/?idProductor="+idProductor, data , function(data){
                window.location.reload();
            });
        });

        
        $(".btn-eliminar").on('click', function(){
            //var fila = $(this).parents("tr");
            var idDet = $(this).attr("id-detalle");

            $.get( "/Producto/Eliminar", {idDeta : idDet}, function(data){
                window.location.reload();
            });
        });

        //text-cantidad
        $(".text-cantidad").on('blur', function(){
            var stock = parseInt($(this).parents("tr").find(".stock").html());            
            var valor = parseInt($(this).val());

            if(stock < valor){
                alert("Debe ingresar un valor igual o menor que el stock");
                $(this).val("");
            }

        })
    }

    function cargaCarrito(){




    }

    </script>

