<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Categoría</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
          
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Cuenta</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Pagar</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Carrito</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Ingresar</a></h4>
                </div>
            </div>
           
        </div><!--/category-products-->

       

    </div>
</div>
